---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="l-container p-top-content">
			<h1>About Page</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
				culpa magni maiores mollitia. Dicta magni alias numquam aliquam placeat
				quos nam accusantium amet vero, quas voluptates dolore a quae porro.
			</p>
			<a href="/">Home</a>
			<a href="/info/">Info</a>
		</div>
	</main>
</Layout>

<style lang="scss">
	html {
		background: pink;
	}

	.p-top-content {
		padding: 100px 0;

		h1 {
			text-align: center;
			font-size: 32px;
			letter-spacing: 0.05em;
			line-height: 1.2;
		}

		p {
			margin-top: 30px;
			text-align: center;
			font-size: 14px;
			line-height: 1.8;
			letter-spacing: 0.05em;
		}
	}
</style>
